.mui-bar-nav {
	height: 60px;
	background-color: #000000;
}

.mui-bar .mui-search .mui-input-clear {
	color: white;
}

.mui-input-row {
	color: white;
	width: 200px;
	margin-top: 15px;
	border-radius: 10px;
	background-color: #333333;
	height: 35px;
}

.mui-scroll-wrapper .mui-slider-indicator {
	position: relative;
}

.mui-shx {
	margin-top: 8px;
	margin-left: 40px;
}

.mui-redian-head {
	color: white;
	margin-left: 15px;
	font-size: 20px;
}
